.overlay {
  @apply bg-overlayBackground absolute top-0 left-0 w-full h-full z-20 justify-center lg:p-20 p-2;
}
.back-button {
  @apply text-gray-500 rounded-full w-[40px] h-[40px] text-2xl hover:text-indigo-600 cursor-pointer duration-200 absolute top-[20px] right-[20px] p-[2px] bg-buttonBackColor;
}
.download-button {
  @apply text-gray-500 w-[40px] h-[40px] text-2xl hover:text-indigo-600 cursor-pointer duration-200 absolute top-[65px] right-[20px] bg-buttonBackColor rounded-full p-[4px];
}
main {
  @apply max-h-barHeight overflow-auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  background-color: #111827;
  width: 0px !important;
  display: none !important;
  visibility: hidden !important;
}
::-webkit-scrollbar-thumb {
  background-color: #262272;
}
.epr-main.EmojiPickerReact {
  background-color: theme("colors.gray.900");
}
.epr-emoji-category h2.epr-emoji-category-label {
  /* background-color: #24314c7a; */
  background-color: theme("colors.gray.800/50");
}

/* Paste styles from `node_modules/unreset-css/unreset.css` here */

@media (prefers-color-scheme: dark) {
  pre {
    background-color: theme("colors.gray.900/50") !important;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  pre {
    background-color: theme("colors.gray.300") !important;
  }
}

pre {
  /* background-color: theme("colors.gray.900/50") !important; */
  margin: 10px 10px;
  div {
    background-color: transparent !important;
    code {
      background-color: transparent !important;
    }
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
}

.AI-response {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  ul {
    list-style: disc;
    padding-left: 1.5rem;
  }
  p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
}
.messageCard {
  animation: show 2000ms ease;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
/* In your CSS file */
.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #374151;
  border-radius: 9999px;
  outline: none;
}

/* WebKit browsers (Chrome, Safari) */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: theme("colors.blue.700");
  cursor: pointer;
  transition: all 0.15s ease;
}

.custom-range::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #2563eb;
}

/* Firefox */
.custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: none;
}

.custom-range::-moz-range-thumb:hover {
  transform: scale(1.2);
  background: #2563eb;
}

/* Track styling for Firefox */
.custom-range::-moz-range-track {
  background: red;
  border-radius: 9999px;
  height: 6px;
}
.ck.ck-content {
  max-height: 200px !important;
}
/* .custom-audio::-webkit-media-controls-panel {
  background-color: ;
}

.custom-audio::-webkit-media-controls-play-button,
.custom-audio::-webkit-media-controls-mute-button {
  background-color: white;
  border-radius: 50%;
} */
/* Add more elements as needed */
