.overlay {
  @apply bg-overlayBackground absolute top-0 left-0 w-full h-full z-20 justify-center lg:p-20 p-2;
}
.back-button {
  @apply text-gray-500 rounded-full w-[40px] h-[40px] text-2xl hover:text-indigo-600 cursor-pointer duration-200 absolute top-[20px] right-[20px] p-[2px] bg-buttonBackColor;
}
.download-button {
  @apply text-gray-500 w-[40px] h-[40px] text-2xl hover:text-indigo-600 cursor-pointer duration-200 absolute top-[65px] right-[20px] bg-buttonBackColor rounded-full p-[4px];
}
main {
  @apply max-h-barHeight overflow-auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  background-color: #111827;
  width: 0px !important;
  display: none !important;
  visibility: hidden !important;
}
::-webkit-scrollbar-thumb {
  background-color: #262272;
}
.epr-main.EmojiPickerReact {
  background-color: #111827;
}
.epr-emoji-category h2.epr-emoji-category-label {
  background-color: #24314c7a;
}

/* Paste styles from `node_modules/unreset-css/unreset.css` here */

pre {
  background-color: transparent !important;
  div {
    background-color: transparent !important;
    code {
      background-color: transparent !important;
    }
  }
}

/* Add more elements as needed */
